.pro-pic{
    
    width: 100%;
}
.pro-pic:hover:active {

}
hr{
border: 3px solid rgb(72, 5, 5);
}

.bg-tyrian-purple{
    background-color: #C45AEC;
}

.bg-crimson-purple{
    background: #E238EC;
}